<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite" thread-count="5" >
  <listeners>
    <listener class-name="testng_listeners.ListeneresUtil"/>
  </listeners>
  
  <test name="Test1">
    <classes>
      <class name="testng_listeners.OrangeHRM"/>
    </classes>
  </test> <!-- Test -->
  
    <test name="Test2">
     <parameter name="browsers" value="chrome"/>
    <classes>
      <class name="practice.FormRegistration"/>
    </classes>
  </test> <!-- Test -->
 
</suite> <!-- Suite -->
